@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Abel);
html, body {
    background: #eaeaea url(../images/background1.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#MainWrapper {   
    min-height: 100%;
    height: auto !important;
    height: 100%;
    min-width: 100%;
    width: 100%;
    margin: 0 auto -250px;
}
#MainHeader {
    background: url("../images/top.png") repeat-x;
    height: 150px;
    margin: 0;
    min-width: 900px;
    width: 100%;
    padding: 10px 0 0;
}
#MainLogo {
    z-index: 1;
    position: relative;
    height: 100px;
    border-radius: 2px;
    width: 800px;
    margin: 25px auto 0;
    padding: -10px -10px;
}
#TopLine {
    z-index: 0;
    position: absolute; 
    top: 85px;
    height: 3px;   
    min-width: 900px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #dbe5ec;
    box-shadow: 1px 2px 1px black;
}
#MainNav {
    float: right;
    margin-top: -40px;
    display: inline;
}
#MainNav a::before {
    position: relative;
    top: 15px;
    left: 25px;
    color: transparent;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: 1.2em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
}
#MainNav a:hover::before,
#MainNav a:focus::before {
	color: #fff;
	text-shadow: 10px 0 #fff, -10px 0 #fff;
}
#MainNav a:hover,
#MainNav a:focus {
	color: #95b6cb;
}
#MainNav:last-child {
    background: none;
}
.MainLink {
    background: transparent url("../images/linksep.png") no-repeat scroll right center;
    padding: 0 10px;
    letter-spacing: 1px;
    display: inline;
    font-size: 18px;
    letter-spacing: 1px;
    color: #dbe5ec;
    text-decoration: none;
}
.MainLink:hover {
    color: #95b6cb;
}
#MainContent {
    padding: 10px;
    width: 800px;
    min-width: 800px;
    height: auto;
    margin: 0 auto 20px;  
}
.ContentBox {
    padding: 20px 10px;
    border-top: 1px dotted #c1cae4;
}
.MainImg {
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    float: left;
    margin-right: 20px;
}
.MainImgRight {
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    float: right;
}
#MainFooter {
    background: url(../images/bottom.png) repeat-x;
    min-width: 900px;
    height: 150px;
    margin: 0px;
}
#SubFooter {
    height: 100px;
    min-width: 900px;
    background-color: #1b212c;
    color: #dbe5ec;   
}
.push {
    height: 250px;
}
#footerText {
    width: 800px;
    margin: 0 auto;
    padding: 5px;    
}
.alignRight {
    padding: 0;
    margin: 0;
    text-align: right;
}
#MainTitle {
    font-family: 'Abel', sans-serif;
    color: #dbe5ec;
    padding: 0;
    float: right;
    margin-top: 0px;
    margin-left: 0px;
    text-shadow: 3px 3px black;
}
h1, h2, h3, h4, h5 {
    color: #375584;
    padding: 5px 0;
    margin: 0;
}