@import url(https://fonts.googleapis.com/css?family=Roboto);
html, body {
    background: #eaeaea url(../images/background1.png);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#MainWrapper {   
    min-height: 100%;
    height: auto !important;
    height: 100%;
    min-width: 100%;
    width: 100%;
    margin: 0 auto -250px;
}
#MainHeader {
    background: url("../images/top.png") repeat-x;
    height: 150px;
    margin: 0;
    min-width: 900px;
    width: 100%;
    padding: 10px 0 0;
}
#MainLogo {
    z-index: 1;
    position: relative;
    height: 130px;
    border-radius: 2px;
    width: 800px;
    margin: 10px auto 0;
}
#TopLine {
    z-index: 0;
    position: absolute; 
    top: 100px;
    height: 3px;   
    min-width: 900px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #dbe5ec;
    box-shadow: 1px 2px 1px black;
}
#MainNav {
    float: right;
    margin-top: 95px;
    display: inline;
}
#MainNav li {
    background: transparent url("../images/linksep.png") no-repeat scroll right center;
    padding: 0 10px;
    letter-spacing: 1px;
    display: inline;
}
#MainNav li:last-child {
    background: none;
}
.MainLink {
    font-size: 18px;
    letter-spacing: 1px;
    color: #dbe5ec;
    text-decoration: none;
}
.MainLink:hover {
    color: #95b6cb;
}
#MainContent {
    padding: 10px;
    width: 800px;
    min-width: 800px;
    height: auto;
    margin: 0 auto 20px;  
}
.ContentBox {
    padding: 20px 10px;
    border-top: 1px dotted #c1cae4;
}
.MainImg {
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    float: left;
    margin-right: 20px;
}
.MainImgRight {
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    float: right;
}
#MainFooter {
    background: url(../images/bottom.png) repeat-x;
    min-width: 900px;
    height: 150px;
    margin: 0px;
}

#SubFooter {
    height: 100px;
    min-width: 900px;
    background-color: #1b212c;
    color: #dbe5ec;   
}
.push {
    height: 250px;
}
#footerText {
    width: 800px;
    margin: 0 auto;
    padding: 5px;    
}
.alignRight {
    padding: 0;
    margin: 0;
    text-align: right;
}
h1, h2, h3, h4, h5 {
    color: #375584;
    padding: 5px 0;
    margin: 0;
}