html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
#MainWrapper { 
    font-family: tahoma;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -250px;
}
#MainHeader {
    background-image: url("../images/top.png");
    background-repeat: repeat-x;
    height: 150px;
    padding: 10px;
}
#MainLogo {
    position: relative;
    height: 130px;
    border-radius: 2px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
#TopLine {
    position: absolute;
    overflow: hidden;
    background-color: #dbe5ec;
    height: 3px;
    top: 100px;
    margin-left: -10px;
    margin-right: -10px;
    width: 100%;
    box-shadow: 1px 2px 1px black;
}
ul {
    float: right;
    margin-top: 95px;
    display: inline;
}
li {
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
    display: inline;
}
.MainLink {
    font-size: 18px;
    letter-spacing: 1px;
    color: #dbe5ec;
    text-decoration: none;
}
.MainLink:hover {
    color: #95b6cb;
}
#MainContent {
    padding: 10px;
    padding-top: 20px;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-bottom: 1px dotted #d3dbec;
    overflow: hidden;
}
.MainImg {
    float: left;
    margin-right: 20px;
}
#MainFooter {
    background-image: url(../images/bottom.png);
    background-repeat: repeat-x;
    height: 150px;
    margin: 0px;
}

#SubFooter {
    height: 100px;
    background-color: #1b212c;
    color: #dbe5ec;
    
}
.push {
    height: 250px;
}
#footerText {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding: 0;    
}
.alignRight {
    text-align: right;
}