@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Abel);
html, body {
    background: #eaeaea url("../images/background1.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#MainWrapper {   
    min-height: 100%;
    height: auto !important;
    min-width: 100%;
    width: 100%;
    margin: 0 auto -250px;
}
#MainHeader {
    background: url("../images/top.png") repeat-x;
    height: 150px;
    margin: 0;
    min-width: 900px;
    width: 100%;
    padding: 10px 0 0;
}
#MainLogo {
    z-index: 1;
    position: relative;
    height: 100px;
    border-radius: 2px;
    width: 800px;
    margin: 25px auto 0;
}
#TopLine {
    z-index: 0;
    position: absolute; 
    top: 85px;
    height: 3px;   
    min-width: 900px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #dbe5ec;
    box-shadow: 1px 2px 1px black;
}
#LogoBox {
    float: left;
    position: relative; 
    top: 0; 
    left: 0; 
    box-shadow: 3px 3px 3px black; 
    border-radius: 5px
}
#AFLogo {
    position: absolute; 
    top: 0; 
    left: 0
}
nav a {
    position: relative;
    display: inline;
    outline: none;
    text-decoration: none;
}
nav:last-child {
    background: none;
}
#TitleandNav {
    top: -10px;
    position: absolute;
    right: 0;
}
#Navi {
    padding-top: 15px;
}
#Title, #Navi {
    float: right;
    margin-right: 0;
    text-align: right;
}
#MainNav a {
	padding: 2px 12px 4px 8px;
        background: transparent url("../images/linksep.png") no-repeat scroll right center;
	color: #dbe5ec;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
#MainNav a::before, #MainNav a::after {
	position: absolute;
	left: 6px;
        right: 10px;
	width: auto;
	height: 2px;
	background: #95b6cb;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	transform: translateY(-5px);
}
#MainNav a::before {
	top: 0;
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	transform: translateY(-5px);
}

#MainNav a::after {
	bottom: 0;
	-webkit-transform: translateY(5px);
	-moz-transform: translateY(5px);
	transform: translateY(5px);
}
#MainNav a:hover, #MainNav a:focus {
	color: #95b6cb;
}

#MainNav a:hover::before, #MainNav a:focus::before, #MainNav a:hover::after, #MainNav a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.MainLinkLast {
    background: none !important;
}
#MainContent {
    padding: 10px;
    width: 800px;
    min-width: 800px;
    height: auto;
    margin: 0 auto 20px;  
}
.ContentBox {
    padding: 20px 10px;
    border-top: 1px dotted #c1cae4;
}
.MainImg {
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    float: left;
    margin-right: 20px;
}
.MainImgRight {
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    float: right;
}
#MainFooter {
    background: url("../images/bottom.png") repeat-x;
    min-width: 900px;
    height: 150px;
    margin: 0px;
}
#SubFooter {
    height: 100px;
    min-width: 900px;
    background-color: #1b212c;
    color: #dbe5ec;   
}
.push {
    height: 250px;
}
#footerText {
    width: 800px;
    margin: 0 auto;
    padding: 5px;    
}
.alignRight {
    padding: 0;
    margin: 0;
    text-align: right;
}
#MainTitle {
    font-family: 'Abel', sans-serif;
    font-size: 35pt;
    color: #dbe5ec;
    padding: 0;
    text-shadow: 3px 3px black;
}
h1, h2, h3, h4, h5 {
    color: #375584;
    padding: 5px 0;
    margin: 0;
}